
/* /////////////////////////////////////////////////////////////// */

html, body {
  padding: 0;
  margin: 0;
}

/* /////////////////////////////////////////////////////////////// */


table {
  border-collapse: collapse;
}

table, th, td {
  border: 1px solid black;
}

/* h1 */.plank-name {
  height: 100px;
  line-height: 100px;
  white-space: nowrap;
  padding: 0 10px ;
  margin: 0;
}

/* table */.boxes {
  width: 100%;
  min-height: calc(100vh - 100px);
}
/* td */.box {
  min-width: 10vw;
  max-height: 10vh;
}
